
// Article Styles

.intro-container {
    text-align: center;
    padding: $margin;

    .page-title {
        font-size: $text-large;
        padding: $padding;
        color: $text-color-dark;
    }

    .page-introduction {
        font-size: $text-medium*1.02;
        color: $text-color-dark;
        padding-top: $padding;
        line-height: $line-height-text;
    }

    @media screen and (max-width: $tabletPortrait) {
        .page-introduction {
            font-size: $text-medium;
        } 
    } // end of media screen tabletLandscape

    @media screen and (max-width: $phoneLandscape) {
        .page-title {
            font-size: $text-medium;
            font-weight: 600;
        }
        
        .page-introduction {
            font-size: $text-small;
        }
    } // end of media screen phoneLandscape

}

.story-container {
    width: 90%;
    text-align: center;
    @include margin-center;
    display: flex;
    margin-bottom: $margin;
    color: $text-color-dark;
    
    .story-text h4 {
        font-family: $heading-font;
        font-weight: 600;
        font-size: $text-medium;
        padding: $padding;
        text-transform: uppercase;
    } // end of story-text h4

    .story-text p {
        font-size: $text-small;
        text-align: left;
        line-height: $line-height-text/1.3;

        @media screen and (max-width: $tabletPortrait) {
            margin-bottom: $margin;
        }

    } // end of story-text p

    @media screen and (max-width: $tabletPortrait) {
        display: block;
    } 
    
}

.story-each {
    flex: 1;
    padding: $padding;

    @media screen and (max-width: $tabletLandscape) {
        padding: $padding/2;
    }
}

.story-image {
    @include margin-center;
    width: 100%;
    img {
        transition: all 0.5s ease-in-out;
    }
    img:hover {
        transform: scale(1.02, 1.02);
    }
}

