// event page styles

.event-container {
    min-height: 100vh;
    background-image: url("../images/event-space.jpg");
    background-size: cover;
    background-attachment: fixed;

    .event-intro {
        color: white;
        text-align: center;
        line-height: $line-height-text;
        margin-top: $margin*2;

        h3 {
            text-transform: uppercase;
            font-size: $text-large;
            font-weight: 600;
        }

        p {
            padding: $padding;
            font-size: $text-medium;
            font-weight: 500;
        }

        .event-button {
            margin-top: $margin;
        }

        .event-button a {
            @include plain-link;
            font-family: $heading-font;
            font-size: $text-medium;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
            padding: $padding;
            border: 2px white solid;
        }

        .event-button a:hover {
            background-color: white;
            color: $text-color-dark;
        }
    } // end of event-intro

    .event-details {
        color: white;
    }

} // end of event-container
