// event page styles

.event-container {
    min-height: 100vh;
    background-image: url("../images/event-space.jpg");
    background-size: cover;
    background-attachment: fixed;

    .event-intro {
        margin: $margin-last-child auto;
        width: 50%;
        color: white;
        text-align: center;
        line-height: $line-height-text;

        h3 {
            text-transform: uppercase;
            font-size: $text-large;
            font-weight: 600;
        }

        p {
            padding: $padding;
            font-size: $text-medium;
            font-weight: 500;
        }

        .event-button {
            margin: $margin;
        }

        .event-button a {
            @include plain-link;
            font-family: $heading-font;
            font-size: $text-medium;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
            padding: $padding;
            border: 2px white solid;
        }

        .event-button a:hover {
            background-color: white;
            color: $text-color-dark;
        }
    } // end of event-intro

    .event-details {
        @include margin-center;
        width: 100%;

        .event-space {
            position: relative;
        }

        .space-01 {
            background-image: url("../images/event-image-05.jpg");
            background-attachment: fixed;
            background-size: 100%;
            min-height: 800px;
        }

        .space-02 {
            background-image: url("../images/event-image-04.jpg");
            background-attachment: fixed;
            background-size: 100%;
            min-height: 800px;
        }

        .space-03 {
            background-image: url("../images/event-image-02.jpg");
            background-attachment: fixed;
            background-size: 100%;
            min-height: 800px;
        }

        .event-text {
            position: absolute;
            top: 40%;
            left: 10%;
        }

        .line {
            display: block;
            background-color: white;
            width: 40px;
            height: 2px;
            margin-top: $padding/2;
            margin-bottom: $padding;
        }

        .bullet-points {
            border-right: 1px solid white;
            border-bottom: 1px solid white;
            padding-right: $padding;
            padding-bottom: $padding;
        }

        h3 {
            text-transform: uppercase;
            font-weight: 600;
            font-family: $heading-font;
            font-size: $text-medium;
            color: white;
        }

        p {
            line-height: $line-height-text;
            color: white;
        }

    }


} // end of event-container
