// event page styles

.event-container {

    .image-container {
        background-image: url("../images/event-space.jpg");
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
    }

    .event-intro {
        margin: $margin auto 0 auto;
        width: 90%;
        color: white;
        text-align: center;
        line-height: $line-height-text;
        padding-bottom: $margin-last-child;

        h3 {
            text-transform: uppercase;
            font-size: $text-large;
            font-weight: 600;

            @media only screen and (max-width: $phoneLandscape) {
                font-size: $text-medium;
            }

        } // end of event-intro h3

        p {
            padding: $padding;
            font-size: $text-medium;
            font-weight: 500;

            @media only screen and (max-width: $phoneLandscape) {
                font-size: $text-small;
                padding: $padding 0;
            }
        }

        .event-button {
            margin-top: $margin;
            @media only screen and (max-width: $phoneLandscape) {
                margin: 0;
            }

        }

        .event-button a {
            @include plain-link;
            font-family: $heading-font;
            font-size: $text-medium;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
            padding: $padding;
            border: 2px white solid;

            @media only screen and (max-width: $phoneLandscape) {
                font-size: $text-small;
                padding: $padding/3;
                font-weight: 600;
            }

        }

        .event-button a:hover {
            background-color: white;
            color: $text-color-dark;
        }


    } // end of event-intro

    .event-details {
        @include margin-center;
        width: 100%;

        .event-space {
            position: relative;
        }

        .space-01 {
            background-image: url("../images/event-image-05.jpg");
            background-attachment: fixed;
            background-size: cover;
            // background-size: 100%;
            min-height: 100vh;
        }

        .space-02 {
            background-image: url("../images/event-image-04.jpg");
            background-attachment: fixed;
            background-size: cover;
            min-height: 100vh;
        }

        .space-03 {
            background-image: url("../images/event-image-02.jpg");
            background-attachment: fixed;
            background-size: cover;
            min-height: 100vh;
        }

        .event-text {
            position: absolute;
            top: 30%;
            left: 10%;
        }

        .line {
            display: block;
            background-color: $text-color-light;
            width: 40px;
            height: 2px;
            margin-top: $padding/2;
            margin-bottom: $padding;
        }

        .bullet-points {
            border-right: 1px solid $text-color-light;
            border-bottom: 1px solid $text-color-light;
            padding-right: $padding;
            padding-bottom: $padding;
        }

        h3 {
            text-transform: uppercase;
            font-weight: 600;
            font-family: $heading-font;
            font-size: $text-medium;
            color: white;

        }

        p {
            line-height: $line-height-text;
            color: white;

            
            @media only screen and (max-width: $phoneLandscape) {
                font-size: $text-xtra-small;
            }
        }

    }


} // end of event-container
