// event page styles

.event-container {
    min-height: 100vh;
    background-image: url("../images/event-space.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: $margin-last-child;

    .event-intro {
        margin: $margin-last-child auto;
        width: 50%;
        color: white;
        text-align: center;
        line-height: $line-height-text;

        h3 {
            text-transform: uppercase;
            font-size: $text-large;
            font-weight: 600;
        }

        p {
            padding: $padding;
            font-size: $text-medium;
            font-weight: 500;
        }

        .event-button {
            margin: $margin;
        }

        .event-button a {
            @include plain-link;
            font-family: $heading-font;
            font-size: $text-medium;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
            padding: $padding;
            border: 2px white solid;
        }

        .event-button a:hover {
            background-color: white;
            color: $text-color-dark;
        }
    } // end of event-intro

    .event-details {
        @include margin-center;
        width: 100%;

        h3 {
            text-transform: uppercase;
            font-weight: 600;
        }

        .event-box {
            background-color: whitesmoke;
            @include margin-center;
            padding: $padding;
            height: 500px;
        }

        .event-box:nth-of-type(2) {
            background-color:rgb(233, 233, 233);
        }

    }


} // end of event-container
