// section styles

.dinner-container {
    color: $text-color-dark;
    font-family: $heading-font;
}

.dinner-intro, .fresh-sheet-intro {
    text-align: center;
    line-height: $line-height-text;

    .first-word {
        font-size: $text-large;
        text-transform: uppercase;
        font-weight: 600;
    } // end of first-word
    
    p {
        margin: $margin*2 $margin;
        font-size: $text-medium;
        @media screen and (max-width: $tabletPortrait) {
            font-size: $text-small;
        }
    } // end of dinner-intro p



    .parent-image {
        position: relative;
    } // end of parent-image

    .child-text h2 {
        color: white;
        font-size: $text-medium;
        font-weight: 600;
        padding: $padding/2;
        background-color: rgba(163, 162, 162, 0.2);
        border: solid 1px $text-color-light;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: $tabletLandscape) {
            font-size: $text-small;
            padding: $padding/3;
        }

        @media screen and (max-width: $phonePortrait) {
            font-size: $text-xtra-small;
        }


    } //end of child-text h2
    

} // end of dinner-intro

.dinner-menu-image-zoomed {
    display: none;
}

@media only screen and (max-width: $phoneLandscape) {
    .dinner-menu-image-zoomed {
        display: block;
    }
    .dinner-menu-image {
        display: none;
    }
}

.dinner-menu-container {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 200px;
    grid-row-gap: 80px;
    margin: $margin auto $margin-last-child auto;
    line-height: $line-height-text;

    @media only screen and (max-width: $desktop) {
        max-width: 60%;
        grid-column-gap: 100px;
    }

    @media only screen and (max-width: $tabletLandscape) {
        max-width: 70%;
        grid-column-gap: 50px;
    }

    @media only screen and (max-width: $tabletPortrait) {
        grid-template-columns: 1fr;
        margin: $margin auto;
    }

    .menu-item {
        display: flex;
        
        @media only screen and (max-width: $phonePortrait) {
            font-size: $text-xtra-small;   
        }
    }

    .item {
        width: 80%;

        @media only screen and (max-width: $phonePortrait) {
            width: 90%;
        }
    }

    h3 {
        font-size: $text-medium;
        font-weight: 600;
    } // end of h3


    .line {
        display: block;
        background-color: $text-color-light;
        width: 40px;
        height: 2px;
        margin: 10px 0 25px 0;
}

} // end of dinner-menu-container


.fresh-image-zoomed {
    display: none;
}

@media only screen and (max-width: $phoneLandscape) {
    .fresh-image-zoomed {
        display: block;
    }
    .fresh-sheet-image {
        display: none;
    }
}

.fresh-sheet-container {
    max-width: 550px;
    @include margin-center;
    line-height: $line-height-text;
    margin-bottom: $margin-last-child;

    @media screen and (max-width: 1500px) {
        max-width: 55%;
        padding-left: $padding;
    }
    @media screen and (max-width: $desktop) {
        max-width: 70%;
    }
    @media screen and (max-width: $tabletLandscape) {
        max-width: 80%;
    }
    @media screen and (max-width: $tabletPortrait) {
        max-width: 85%;
        font-size: $text-xtra-small;
        padding-left: $padding;
    }
}

.fresh-sheet-title {
    font-size: $text-medium;
    font-weight: 600;

    .line {
        background-color: $text-color-light;
        width: 40px;
        height: 2px;
        margin: 12px 0;
    }
}

.fresh-sheet-items {
    margin-top: $padding;
}

.fresh-item {
    display: flex;
    @media screen and (max-width: $phoneLandscape) {
        display: block;
        padding-bottom: $padding;
    }

    h4 {
        flex: 2;
        font-weight: 600;
    }

    p {
        flex: 3;
    }
    
}
