
// Footer Styles

footer {
    background-color: $background-color;
    height: 13vh;
    color: $text-color-light;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    font-size: $text-small;
    display: flex;
    
    .hours, .address, .social-media {
        flex: 1;
        text-align: center;
    }

    .social-media a {
        @include plain-link;
        color: $text-color-light;
        margin: $padding/2;
    }

}