
// Header Styles

/*---------------- general header ------------*/

.main-header{
    text-align: center;
    @include margin-center;
    padding-top: $padding;
    color: $text-color-light;

    a {
        @include plain-link;
        color: $text-color-light;
        font-size: $text-title;
        font-weight: 500;
        transition: all 150ms ease-in-out;

         #{$link-hover-selector} {
            color: white;
         } 

        @media only screen and (max-width: $phoneLandscape) {
            font-size: $text-large;
        }
    } /* end of a */

    .title {
        font-size: $text-title;

    }

    .red-line {
        display: inline-block;
        width: 80px;
        border-top: 3px $red-highlight solid;
    } /* end of red-line */

    .green-line {
        display: inline-block;
        width: 80px;
        border-top: 3px $green-highlight solid;
    } /* end of green-line */ 

    h2 {
        padding-top: $padding/2;
        padding-bottom: $padding/2;
        font-size: $text-medium;
        font-weight: 500;

        @media only screen and (max-width: $phoneLandscape) {
            font-size: $text-small;
        }

    }

    .red-line, .green-line {
        @media only screen and (max-width: $phoneLandscape) {
            width: 30px;
        }
    }

} /* end of main-header */



/*---------------- index deader --------------*/
.home-header {
    min-height: 100vh;
    background-image: url("../images/slideshow01_plating_pasta.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 400px;
    
    @media only screen and (max-width: $phoneLandscape) {
        margin-bottom: 500px;
    }
} /* end of home-header */


/*---------------- our story header ------------------*/
.page-header {
    min-height: 25vh;
    background-image: url("../images/test-image.png");
    background-attachment: fixed;
}


