// Nav bar styles

nav {
    width: 60%;
    @include margin-center;
    @media screen and (max-width: $tabletLandscape) {
        width: 70%;
    }
    @media screen and (max-width: $tabletPortrait) {
        width: 80%;
    }
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    @include plain-link;
    color: $text-color-light;
    font-size: $text-small;
    padding: $padding/2;
    
    @media screen and (max-width: $tabletPortrait) {
        padding: $padding/4;
    }

}