// Nav bar styles

nav {
    width: 60%;
    @include margin-center;
    @media screen and (max-width: $tabletLandscape) {
        width: 80%;
    }
    @media screen and (max-width: $tabletPortrait) {
        width: 80%;
    }
}

nav ul {
    display: flex;
    list-style: none;

    .current a {
        color: white;
    }
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    @include plain-link;
    font-family: $heading-font;
    color: $text-color-light;
    font-size: $text-small;
    font-weight: 600;
    padding: $padding/2 0;
    transition: all 150ms ease-in-out;
    line-height: $line-height-nav;
 
    #{$link-hover-selector} {
        border-bottom: 2px solid $red-highlight;
        color: white;
    }

    @media screen and (max-width: $tabletPortrait) {
        padding: $padding/4;
    }
}
