// section styles

.dinner-container {
    color: $text-color-dark;
    font-family: $heading-font;
}

.dinner-intro, .fresh-sheet-intro {
    text-align: center;
    line-height: $line-height-text;

    .first-word {
        font-size: $text-large;
        text-transform: uppercase;
        font-weight: 600;
    } // end of first-word
    
    p {
        margin: $margin*2 $margin;
        font-size: $text-medium;
        @media screen and (max-width: $tabletPortrait) {
            font-size: $text-small;
        }
    } // end of dinner-intro p



    .parent-image {
        position: relative;
    } // end of parent-image

    .child-text h2 {
        color: white;
        font-size: $text-medium;
        font-weight: 600;
        padding: $padding/2;
        background-color: rgba(163, 162, 162, 0.2);
        border: solid 1px $text-color-light;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: $tabletLandscape) {
            font-size: $text-small;
            padding: $padding/3;
        }


    } //end of child-text h2
    

} // end of dinner-intro

.dinner-menu-image-zoomed {
    display: none;
}

@media only screen and (max-width: $phoneLandscape) {
    .dinner-menu-image-zoomed {
        display: block;
    }
    .dinner-menu-image {
        display: none;
    }
}

.dinner-menu-container {
    display: grid;
    grid-template-columns: 2fr minmax(max-content, 200px) 20px 1fr minmax(max-content, 200px) 20px 2fr;
    grid-template-rows: repeat(1fr);
    grid-gap: 5px;
    margin: $margin 0;


    h3 {
        font-size: $text-medium;
        font-weight: 600;
    } // end of h3

    p {
        line-height: $line-height-text;
    }

    .line {
        background-color: $text-color-light;
        width: 40px;
        height: 2px;
        margin-top: 12px;
}

} // end of dinner-menu-container

.to-start-title {
    grid-column: 2/3;
    grid-row: 1/2;
}

.to-start-items {
    grid-column: 2/3;
    grid-row: 2/3;
}

.to-start-prices {
    grid-column: 3/4;
    grid-row: 2/3;
}

.pasta-title {
    grid-column: 5/6;
    grid-row: 1/2;
}

.pasta-items {
    grid-column: 5/6;
    grid-row: 2/3;
}

.pasta-prices {
    grid-column: 6/7;
    grid-row: 2/3;
}

.entree-title {
    grid-column: 2/3;
    grid-row: 4/5;
}

.entree-items {
    grid-column: 2/3;
    grid-row: 5/6;
    margin-bottom: $margin;
}

.entree-prices {
    grid-column: 3/4;
    grid-row: 5/6;
}

.dessert-title {
    grid-column: 5/6;
    grid-row: 4/5;
}

.dessert-items {
    grid-column: 5/6;
    grid-row: 5/6;
    margin-bottom: $margin;
}

.dessert-prices {
    grid-column: 6/7;
    grid-row: 5/6;
}

.fresh-image-zoomed {
    display: none;
}

@media only screen and (max-width: $phoneLandscape) {
    .fresh-image-zoomed {
        display: block;
    }
    .fresh-sheet-image {
        display: none;
    }
}

.fresh-sheet-container {
    width: 40%;
    @include margin-center;
    line-height: $line-height-text;
    margin-bottom: $margin-last-child;

    @media screen and (max-width: 1500px) {
        width: 50%;
    }
    @media screen and (max-width: $desktop) {
        width: 60%;
    }
    @media screen and (max-width: $tabletLandscape) {
        width: 80%;
    }
    @media screen and (max-width: $tabletPortrait) {
        width: 85%;
    }

}

.fresh-sheet-title {
    font-size: $text-medium;
    font-weight: 600;

    .line {
        background-color: $text-color-light;
        width: 40px;
        height: 2px;
        margin: 12px 0;
    }
}

.fresh-sheet-items {
    margin-top: $padding;
}

.item {
    display: flex;
    @media screen and (max-width: $phoneLandscape) {
        display: block;
        padding-bottom: $padding;
    }

    h4 {
        flex: 2;
        font-weight: 600;
    }

    p {
        flex: 3;
    }
    
}
