// section styles

.dinner-container {
    color: $text-color-dark;
    font-family: $heading-font;
}

.dinner-intro {
    text-align: center;

    .first-word {
        font-size: $text-large;
        text-transform: uppercase;
        font-weight: 600;
    } // end of first-word
    
    p {
        margin: $margin*2 $margin;
        font-size: $text-medium;
    } // end of dinner-intro p

    .parent-image {
        position: relative;
    }

    .child-text h2 {
        color: $text-color-light;
        font-size: $text-medium;
        font-weight: 600;
        padding: $padding/2;
        background-color: rgba(163, 162, 162, 0.2);
        border: solid 1px $text-color-light;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

} // end of dinner-intro

.dinner-menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 6fr;
    grid-gap: 20px;
    line-height: $line-height-text*2;
}

.to-start-title {
    grid-column: 2/3;
    grid-row: 1/2;
}

.to-start-items {
    grid-column: 2/3;
    grid-row: 2/3;
}

.to-start-prices {
    grid-column: 3/4;
    grid-row: 2/3;
}

.pasta-title {
    grid-column: 4/5;
    grid-row: 1/2;
}

.pasta-items {
    grid-column: 4/5;
    grid-row: 2/3;
}

.pasta-prices {
    grid-column: 5/6;
    grid-row: 2/3;
}

.entree-title {
    grid-column: 2/3;
    grid-row: 3/4;
}

.entree-items {
    grid-column: 2/3;
    grid-row: 4/5;
}

.entree-prices {
    grid-column: 3/4;
    grid-row: 4/5;
}

.dessert-title {
    grid-column: 4/5;
    grid-row: 3/4;
}

.dessert-items {
    grid-column: 4/5;
    grid-row: 4/5;
}

.dessert-prices {
    grid-column: 5/6;
    grid-row: 4/5;
}

