
// Colors
$background-color: #454545;
$text-color-logo: #f3e5dd;

// Text Colors
$text-color-light: #c8c8c8;
$text-color-dark: #454545;
$red-highlight: #ec6b6b;
$green-highlight: #5d8462;

// Media Query Breakpoints
$desktop: em(1250);
$tabletLandscape: em(1024);
$tabletPortrait: em(850);
$phoneLandscape: em(670);
$phonePotrait: em(420);

// Utility Variables
$link-hover-selector: '&:hover, &:focus, &:active';

