
// Colors
$background-color: #5e5858;

// Text Colors
$text-color-light: #c8c8c8;
$text-color-dark: #454545;
$red-highlight: #ec6b6b;
$green-highlight: #6a9b70;

// Fonts
$heading-font: "Raleway", Sans-serif;
$body-font: "Ubuntu", Helvetica, Sans-serif;

// Font Sizes
$text-large: 1.2em;
$text-medium: 1em;
$text-small: 0.9em;
$text-xtra-small: 0.8em;

// Layout variables
$padding: 30px;


// Media Query Breakpoints
$desktop: 1250px;
$tabletLandscape: 1024px;
$tabletPortrait: 850px;
$phoneLandscape: 670px; //switch to hamburger menu
$phonePotrait: 420px;

// Utility Variables
$link-hover-selector: '&:hover, &:focus, &:active';

